<div class="main-glimmer-app">
  <h1>Welcome to Weather Tracker App, {{currentName}}!</h1>
  Name: <input type="textarea" value={{currentName}} oninput={{action changedName}} >
  <WeatherTracker>
      some weather content 
</WeatherTracker>
  <PlacesVisited/>
</div>

